.footer {
  background-color: var(--hemocyanin);
  color: var(--ice);
  padding: 1.5rem 1rem;
  text-align: center;
  line-height: 1.6;
  margin-top: 3rem;
}

.text {
  margin: 0;
  color: var(--purpleHaze);
  font-size: 0.75rem;
}

@media (max-width: 600px) {
  .footer {
    width: 100%;
  }
}
